.background {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  background-color: rgba(204, 209, 206, 0.75);
  border-radius: 15px;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.buttonSubmit {
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-left: 40px;
  margin-top: 10px ;
}
.inputs {
  border: none;
  height: 30px;
  border-radius: 5px;
}
.container {
  padding: 5px;
}
.containerButton {
  display: flex;
  align-items: center;
  justify-content: center;
}